
fastapi
uvicorn[standard]
langchain
langgraph
langchain-google-genai
langchain-text-splitters
llama-index
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
chromadb

pypdf
httpx
pydantic-settings
python-multipart
google-generativeai
python-dotenv
pandas
openpyxl
xlrd
PyPDF2
python-docx
aiofiles
pydantic
